<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
    <style>table, th, td {
        border: 1px solid black;
      }</style>
</head>
<body>
    <table>
        <tr>
            <th>Car</th>
            <th>Model</th>
        </tr>

            <%for(var i=0;i<title.length;i++){%>
                <tr>
                <td><%=title[i].name%></td>
                <td><%=title[i].model%></td>
            </tr>
            <%}%>

    </table>
</body>
</html>